In [1]:
import os
from datetime import datetime

# Read data and make team, assign players
1. finish build team
2. finish build player_consist_of

In [2]:
import csv
team_name = []
with open('dota2ti7team.csv', 'r') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in spamreader:
        rows = row[0].split('\t')
        team_name.append(rows[0])
team_name = team_name[1:]

In [3]:
import pandas as pd

In [4]:
# eliminate player in two teams
dict = {}
players = []
player_in_team = []
new_team = []
position = []
cnt = 0;
for idx,name in enumerate(team_name):
    if (os.path.exists('useteam/' + name + '.csv')):
        df = pd.read_csv('useteam/' + name + '.csv')
        player = df.Player[1:6].tolist()
        new_team.append(name)
        dict[name] = []
        position_cnt = 0;
        for p in player:
            cnt = 6
            while (p in players):
                p = df.Player[cnt]
                cnt += 1
            dict[name].append(p)
            players.append(p)
            # add idx of the team
            player_in_team.append(len(new_team))
            # add position
            position.append(position_cnt % 5 + 1)
            position_cnt += 1

In [5]:
len(new_team)

16

In [6]:
# see if there is duplciates
dupl = []
for (idx1,p1) in enumerate(players):
    for (idx2, p2) in enumerate(players):
        if (p1 == p2 and idx1 != idx2):
            dupl.append(p1)

In [7]:
pd_consist_of = pd.DataFrame({'player_id': range(1, 81), 
                            'player_position': position,
                            'player_team_id' : player_in_team,
                            'player_name': players})

In [8]:
dict

{'Alliance': ['Akke', 'AdmiralBulldog', 'Handsken', 'EGM', 'Pajkatt'],
 'CDECGaming': ['Q', 'Agressif', 'June', 'Flyby', 'demons'],
 'Cloud9': ['bOne7', 'MiSeRy', 'Aui_2000', 'FATA-', 'SingSing'],
 'EHOME': ['old chicken', 'old eLeVeN', 'CTY', 'END', 'Fenrir'],
 'Fnatic': ['Trixi', 'DJ', 'Era', 'n0tail', 'Ohaiyo'],
 'InvictusGaming': ['ChuaN', 'Faith', 'Xi', 'BurNIng', 'Boboka.Rr'],
 'LGDForeverYoung': ['Monet', 'LPC', 'ddc', 'ah fu', 'Inflame'],
 'LGDGAMING': ['Maybe', 'MMY!', 'xiao8', 'Sylar', 'OB.DD'],
 'NatusVincere': ['XBOCT', 'Funn1k', 'Puppey', 'GeneRaL', 'SoNNeikO'],
 'Newbee': ['kaka', 'kpii', 'Hao', 'banana', 'Newbee.SanSheng'],
 'OG': ['Fly', 'JerAx', 'Miracle', 'MoonMeander', 'Cr1t-'],
 'TeamEmpire': ['Resolut1on',
  'ALWAYSWANNAFLY',
  'Scandal',
  'ALOHADANCE',
  'VANSKOR'],
 'TeamLiquid': ['TC', 'KuroKy', 'MATUMBAMAN', 'MinD_ContRoL', 'FLUFFNSTUFF'],
 'TeamSecret': ['pieliedie', 'MidOne', 'Arteezy', 's4', 'MP'],
 'ViciGaming': ['hym', 'Super', 'rOtk', 'iceiceice', 'Yang'],
 'Virtuspro': ['G', 'Lil', 'COK', 'Fng', 'DkPhobos']}

In [9]:
pd_consist_of

    player_id      player_name  player_position  player_team_id
0           1               TC                1               1
1           2           KuroKy                2               1
2           3       MATUMBAMAN                3               1
3           4     MinD_ContRoL                4               1
4           5      FLUFFNSTUFF                5               1
5           6            Monet                1               2
6           7              LPC                2               2
7           8              ddc                3               2
8           9            ah fu                4               2
9          10          Inflame                5               2
10         11            Maybe                1               3
11         12             MMY!                2               3
12         13            xiao8                3               3
13         14            Sylar                4               3
14         15            OB.DD                5               3
15         16             kaka                1               4
16         17             kpii                2               4
17         18              Hao                3               4
18         19           banana                4               4
19         20  Newbee.SanSheng                5               4
20         21       Resolut1on                1               5
21         22   ALWAYSWANNAFLY                2               5
22         23          Scandal                3               5
23         24       ALOHADANCE                4               5
24         25          VANSKOR                5               5
25         26        pieliedie                1               6
26         27           MidOne                2               6
27         28          Arteezy                3               6
28         29               s4                4               6
29         30               MP                5               6
..        ...              ...              ...             ...
50         51                Q                1              11
51         52         Agressif                2              11
52         53             June                3              11
53         54            Flyby                4              11
54         55           demons                5              11
55         56      old chicken                1              12
56         57       old eLeVeN                2              12
57         58              CTY                3              12
58         59              END                4              12
59         60           Fenrir                5              12
60         61            Trixi                1              13
61         62               DJ                2              13
62         63              Era                3              13
63         64           n0tail                4              13
64         65           Ohaiyo                5              13
65         66              hym                1              14
66         67            Super                2              14
67         68             rOtk                3              14
68         69        iceiceice                4              14
69         70             Yang                5              14
70         71            bOne7                1              15
71         72           MiSeRy                2              15
72         73         Aui_2000                3              15
73         74            FATA-                4              15
74         75         SingSing                5              15
75         76             Akke                1              16
76         77   AdmiralBulldog                2              16
77         78         Handsken                3              16
78         79              EGM                4              16
79         80          Pajkatt                5              16

[80 rows x 4 columns]

In [10]:
pd_consist_of.to_csv('output/player_consist_of.csv', encoding='utf-8', index=False, header=False)

In [15]:
des = ['Team Liquid is a professional team, founded in the Netherlands in 2000. Originally a Brood War clan, the team switched to StarCraft II during the SC2 Beta in 2010, and became one of the most successful western teams. On December 6, 2012, it was announced that the team had formed a Dota 2 division',
      'LGD.Forever Young is a professional Dota 2 team based in China. Founded by xiao8, LGDforeveryoung is a simple of chinese dota game',
      'LGD Gaming is a Chinese multigaming team sponsored by Guizhou Laogandie Food. It has a Dota 2 division and one League of Legends division. Their team house is based in Hangzhou, China.',
       'Newbee is a team that emerged in early 2014 during the Chinese reshuffle that happened prior to the fourth International tournament. The club is founded in China',
       'Team Empire is one of the premier teams in Russia and the CIS across all eSport titles. The organisation was established in 2004 with headquarters in Moscow, Russia. ',
       'Team Secret is a European team that was first established during the post-TI4 shuffle. The original team drew upon players from former Natus Vincere, Fnatic and Alliance squads. The team has since undergone a number of reincarnations, but uniformly under the captaincy of ClementIvanov. Since its formation Team Secret have been one of the most successful brands in Dota 2, not only in Europe but on the international stage as well.',
       'OG was created as the new team of former (monkey) Business players. The team\'s breakthrough occurred at the Frankfurt Major in late November, 2015. They fought through the lower bracket, defeating TI5 champions and runner-ups, Evil Geniuses and CDEC Gaming. By winning the 2017 Kiev Major, OG became the first team in Dota 2 to win four Dota Major Championships.',
       'Virtus.pro is a professional gaming organization based in Russia. The organization was represented by more than 50 players. Since 2003 they have won more than 100 gold, 170 silver and 220 bronze medals in more than 10 esports disciplines.',
       'Natus Vincere (Latin for born to win), often abbreviated as Na`Vi, is a Ukranian multigaming organization which was founded in 2009 as a Counter-Strike team after the collapse of the team KerchNET. They are best known for their results from The International 2011 to The International 2014, during which they won 20 premier events and made it to the finals of 3 consecutive Internationals',
       'Invictus Gaming is the result of Wanda Enterprise director Wang Sicong acquiring Catastrophic Cruel Memory. The team was founded in August 2011 and has divisions for Dota 2, Starcraft 2, League of Legends, Hearthstone, Overwatch and Counter-Strike: Global Offensive.',
       'In October 2014, the former LGD Gaming "youth" squad LGD.CDEC left the LGD Gaming brand to establish a seperate brand called CDEC Gaming.[1] CDEC stands for Chinese Dota Elite Community, an inhouse league.',
       'EHOME was one of the pillars of Chinese DotA, and one of the oldest teams in the scene. However they did not get the same support from their country as the other teams got and were even seen as a foreign team on the Chinese scene, because EHOME was, unlike the other Chinese teams, not part of Association of China E-Sports. ACE was therefore limiting their training partners along with other things.',
       'Fnatic is a professional gaming organization with registered offices in England, Australia and the Netherlands. Fnatic is considered as a European team. Founded by Sam Mathews with Joris Van Laerhoven and Anne Mathews in 2004, and mainly operating out of their London offices, Fnatic has fielded numerous well known professional gamers in a variety of eSports titles, in particular their Scandinavian Counter-Strike Global Offensive team as well as VoO in Painkiller.',
       'Vici Gaming was formed on the 21st of October, 2012[1] with the help of Fengdidi, who also had previously played in PanDarea Gaming under the name “PanPan”, handpicking highly skilled players that were highly ranked on the Chinese DotA ladder at the time.',
       'Cloud9 is a North American eSports organisation currently fielding teams in Hearthstone, League of Legends, Call of Duty, Super Smash Bros. Melee, Counter-Strike: Global Offensive, and Dota 2. Cloud9 made its debut into the Dota 2 arena by signing the former Speed Gaming team in February 2014.',
       'Alliance is an gaming organisation founded by Team Razer and Alex Garfield in April 2013. Since its formation the team has been a staple amongst the best European Dota 2 teams.'
      ]

In [16]:
len(des)

16

In [17]:
pd_team = pd.DataFrame({'teamname': new_team,
                        'des': des})
pd_team.index += 1

In [20]:
pd_team = pd_team[['teamname', 'des']]

In [21]:
pd_team

           teamname                                                des
1        TeamLiquid  Team Liquid is a professional team, founded in...
2   LGDForeverYoung  LGD.Forever Young is a professional Dota 2 tea...
3         LGDGAMING  LGD Gaming is a Chinese multigaming team spons...
4            Newbee  Newbee is a team that emerged in early 2014 du...
5        TeamEmpire  Team Empire is one of the premier teams in Rus...
6        TeamSecret  Team Secret is a European team that was first ...
7                OG  OG was created as the new team of former (monk...
8         Virtuspro  Virtus.pro is a professional gaming organizati...
9      NatusVincere  Natus Vincere (Latin for born to win), often a...
10   InvictusGaming  Invictus Gaming is the result of Wanda Enterpr...
11       CDECGaming  In October 2014, the former LGD Gaming "youth"...
12            EHOME  EHOME was one of the pillars of Chinese DotA, ...
13           Fnatic  Fnatic is a professional gaming organization w...
14       ViciGaming  Vici Gaming was formed on the 21st of October,...
15           Cloud9  Cloud9 is a North American eSports organisatio...
16         Alliance  Alliance is an gaming organisation founded by ...

In [22]:
pd_team.to_csv('output/pro_team.csv', encoding='utf-8', index=True, header=False)

In [12]:
pd_player_consist_of = pd.DataFrame()

# make participate.csv

In [23]:
Ti_league = {}
for i in range(2, 7):
    Ti_league[str(i)] = []
    team_name_append = []
    with open('../ti' + str(i) +'/201' + str(i) + '.csv', 'r') as csvfile:
        spamreader = csv.reader(csvfile, delimiter=' ', quotechar='|')
        for row in spamreader:
            rows = row[0].split('\t')
            team_name_append.append(rows[0])
        team_name_append = team_name_append[1:]
        for name in team_name_append:
            if name in new_team:
                Ti_league[str(i)].append(name)
Ti_league[str(7)] = new_team

In [24]:
# make a dictionary
Ti_league

{'2': ['LGDGAMING', 'InvictusGaming', 'NatusVincere', 'EHOME'],
 '3': ['Alliance',
  'NatusVincere',
  'Fnatic',
  'InvictusGaming',
  'LGDGAMING',
  'TeamLiquid',
  'Virtuspro'],
 '4': ['ViciGaming',
  'Newbee',
  'LGDGAMING',
  'TeamLiquid',
  'Virtuspro',
  'InvictusGaming',
  'Cloud9',
  'CDECGaming',
  'NatusVincere',
  'Alliance',
  'Fnatic',
  'TeamEmpire'],
 '5': ['LGDGAMING',
  'CDECGaming',
  'EHOME',
  'TeamSecret',
  'ViciGaming',
  'Virtuspro',
  'NatusVincere',
  'TeamEmpire',
  'Newbee',
  'InvictusGaming',
  'Cloud9',
  'Alliance',
  'Fnatic'],
 '6': ['EHOME',
  'Fnatic',
  'OG',
  'Alliance',
  'ViciGaming',
  'TeamSecret',
  'Newbee',
  'InvictusGaming',
  'TeamEmpire',
  'Virtuspro',
  'TeamLiquid',
  'NatusVincere',
  'LGDGAMING',
  'CDECGaming'],
 '7': ['TeamLiquid',
  'LGDForeverYoung',
  'LGDGAMING',
  'Newbee',
  'TeamEmpire',
  'TeamSecret',
  'OG',
  'Virtuspro',
  'NatusVincere',
  'InvictusGaming',
  'CDECGaming',
  'EHOME',
  'Fnatic',
  'ViciGaming',
  'Cloud9',
  'Alliance']}

In [25]:
for key in Ti_league:
    print(key + "  " + str(len(Ti_league[key])))

2  4
3  7
4  12
5  13
6  14
7  16

In [26]:
league_id = []
team_id = []
rank = []
for key in Ti_league:
    cnt = 1;
    for v in Ti_league[key]:
        league_id.append(int(key))
        team_id.append(new_team.index(v) + 1)
        rank.append(1)
        cnt+

SyntaxError: invalid syntax (<ipython-input-26-30e62a5cca3a>, line 10)

In [17]:
df_participate = pd.DataFrame({ 'league_id': league_id, 
                                'team_id': team_id
                            })

In [18]:
df_participate.to_csv('output/participate.csv', encoding='utf-8', index=False, header=False)

# make Heros.csv

In [48]:
hero = pd.read_csv('output/hero.csv', header = None)

In [49]:
hero[3] = hero[3].str.replace('(','{')
hero[3] = hero[3].str.replace(')','}')

In [50]:
hero

,0,1,2,3
0,1,Anti-Mage,Melee,"{'Carry', 'Escape', 'Nuker'}"
1,2,Axe,Melee,"{'Initiator', 'Durable', 'Disabler', 'Jungler'}"
2,3,Bane,Ranged,"{'Support', 'Disabler', 'Nuker', 'Durable'}"
3,4,Bloodseeker,Melee,"{'Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,5,Crystal Maiden,Ranged,"{'Support', 'Disabler', 'Nuker', 'Jungler'}"
5,6,Drow Ranger,Ranged,"{'Carry', 'Disabler', 'Pusher'}"
6,7,Earthshaker,Melee,"{'Support', 'Initiator', 'Disabler', 'Nuker'}"
7,8,Juggernaut,Melee,"{'Carry', 'Pusher', 'Escape'}"
8,9,Mirana,Ranged,"{'Carry', 'Support', 'Escape', 'Nuker', 'Disab..."
9,10,Morphling,Ranged,"{'Carry', 'Escape', 'Durable', 'Nuker', 'Disab..."
10,11,Shadow Fiend,Ranged,"{'Carry', 'Nuker'}"
11,12,Phantom Lancer,Melee,"{'Carry', 'Escape', 'Pusher', 'Nuker'}"
12,13,Puck,Ranged,"{'Initiator', 'Disabler', 'Escape', 'Nuker'}"
13,14,Pudge,Melee,"{'Disabler', 'Initiator', 'Durable', 'Nuker'}"
14,15,Razor,Ranged,"{'Carry', 'Durable', 'Nuker', 'Pusher'}"
15,16,Sand King,Melee,"{'Initiator', 'Disabler', 'Nuker', 'Escape', '..."
16,17,Storm Spirit,Ranged,"{'Carry', 'Escape', 'Nuker', 'Initiator', 'Dis..."
17,18,Sven,Melee,"{'Carry', 'Disabler', 'Initiator', 'Durable', ..."
18,19,Tiny,Melee,"{'Carry', 'Nuker', 'Pusher', 'Initiator', 'Dur..."
19,20,Vengeful Spirit,Ranged,"{'Support', 'Initiator', 'Disabler', 'Nuker', ..."
20,21,Windranger,Ranged,"{'Carry', 'Support', 'Disabler', 'Escape', 'Nu..."
21,22,Zeus,Ranged,{'Nuker'}
22,23,Kunkka,Melee,"{'Carry', 'Disabler', 'Initiator', 'Durable', ..."
23,24,Chaser,Ranged,"{'Carry', 'Nuker'}"
24,25,Lina,Ranged,"{'Support', 'Carry', 'Nuker', 'Disabler'}"
25,26,Lion,Ranged,"{'Support', 'Disabler', 'Nuker', 'Initiator'}"
26,27,Shadow Shaman,Ranged,"{'Support', 'Pusher', 'Disabler', 'Nuker', 'In..."
27,28,Slardar,Melee,"{'Carry', 'Durable', 'Initiator', 'Disabler', ..."
28,29,Tidehunter,Melee,"{'Initiator', 'Durable', 'Disabler', 'Nuker'}"
29,30,Witch Doctor,Ranged,"{'Support', 'Nuker', 'Disabler'}"
...,...,...,...,...
90,91,Io,Ranged,"{'Support', 'Escape', 'Nuker'}"
91,92,Visage,Ranged,"{'Support', 'Nuker', 'Durable', 'Disabler', 'P..."
92,93,Slark,Melee,"{'Carry', 'Escape', 'Disabler', 'Nuker'}"
93,94,Medusa,Ranged,"{'Carry', 'Disabler', 'Durable'}"
94,95,Troll Warlord,Ranged,"{'Carry', 'Pusher', 'Disabler', 'Durable'}"
95,96,Centaur Warrunner,Melee,"{'Durable', 'Initiator', 'Disabler', 'Nuker', ..."
96,97,Magnus,Melee,"{'Initiator', 'Disabler', 'Nuker', 'Escape'}"
97,98,Timbersaw,Melee,"{'Nuker', 'Durable', 'Escape'}"
98,99,Bristleback,Melee,"{'Carry', 'Durable', 'Initiator', 'Nuker'}"
99,100,Tusk,Melee,"{'Initiator', 'Disabler', 'Nuker'}"
100,101,Skywrath Mage,Ranged,"{'Support', 'Nuker', 'Disabler'}"
101,102,Abaddon,Melee,"{'Support', 'Carry', 'Durable'}"
102,103,Elder Titan,Melee,"{'Initiator', 'Disabler', 'Nuker', 'Durable'}"
103,104,Legion Commander,Melee,"{'Carry', 'Disabler', 'Initiator', 'Durable', ..."
104,105,Techies,Ranged,"{'Nuker', 'Disabler'}"
105,106,Ember Spirit,Melee,"{'Carry', 'Escape', 'Nuker', 'Disabler', 'Init..."
106,107,Earth Spirit,Melee,"{'Nuker', 'Escape', 'Disabler', 'Initiator', '..."
107,108,Underlord,Melee,"{'Support', 'Nuker', 'Disabler', 'Durable', 'E..."
108,109,Terrorblade,Melee,"{'Carry', 'Pusher', 'Nuker'}"
109,110,Phoenix,Ranged,"{'Support', 'Nuker', 'Initiator', 'Escape', 'D..."
110,111,Oracle,Ranged,"{'Support', 'Nuker', 'Disabler', 'Escape'}"
111,112,Winter Wyvern,Ranged,"{'Support', 'Disabler', 'Nuker'}"
112,113,Arc Warden,Ranged,"{'Carry', 'Escape', 'Nuker'}"
113,114,Monkey King,Melee,"{'Carry', 'Escape', 'Disabler', 'Initiator'}"
114,115,Ashe,Melee,"{'Initiator', 'Disabler', 'Nuker', 'Durable'}"
115,116,Tree Protector,Ranged,"{'Carry', 'Escape', 'Nuker'}"
116,117,Night Prayer,Ranged,"{'Carry', 'Pusher', 'Nuker'}"
117,118,Oranger,Melee,"{'Nuker', 'Durable', 'Escape'}"
118,119,Dark Willow,Ranged,"{'Support', 'Nuker', 'Disabler', 'Escape'}"
119,120,Pangolier,Melee,"{'Carry', 'Nuker', 'Disabler', 'Durable', 'Esc..."

In [51]:
hero.to_csv('output/hero.csv', encoding='utf-8', index=False, header=False)

In [38]:
for i, stri in enumerate(ability):
    stri.replace('[', '(')
    stri.replace(']', ')')
    ability[i] = stri

In [39]:
ability

["['Carry', 'Escape', 'Nuker']",
 "['Initiator', 'Durable', 'Disabler', 'Jungler']",
 "['Support', 'Disabler', 'Nuker', 'Durable']",
 "['Carry', 'Disabler', 'Jungler', 'Nuker', 'Initiator']",
 "['Support', 'Disabler', 'Nuker', 'Jungler']",
 "['Carry', 'Disabler', 'Pusher']",
 "['Support', 'Initiator', 'Disabler', 'Nuker']",
 "['Carry', 'Pusher', 'Escape']",
 "['Carry', 'Support', 'Escape', 'Nuker', 'Disabler']",
 "['Carry', 'Escape', 'Durable', 'Nuker', 'Disabler']",
 "['Carry', 'Nuker']",
 "['Carry', 'Escape', 'Pusher', 'Nuker']",
 "['Initiator', 'Disabler', 'Escape', 'Nuker']",
 "['Disabler', 'Initiator', 'Durable', 'Nuker']",
 "['Carry', 'Durable', 'Nuker', 'Pusher']",
 "['Initiator', 'Disabler', 'Nuker', 'Escape', 'Jungler']",
 "['Carry', 'Escape', 'Nuker', 'Initiator', 'Disabler']",
 "['Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']",
 "['Carry', 'Nuker', 'Pusher', 'Initiator', 'Durable', 'Disabler']",
 "['Support', 'Initiator', 'Disabler', 'Nuker', 'Escape']",
 "['Carry', 'Support', 'Disabler', 'Escape', 'Nuker']",
 "['Nuker']",
 "['Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']",
 "['Carry', 'Nuker']",
 "['Support', 'Carry', 'Nuker', 'Disabler']",
 "['Support', 'Disabler', 'Nuker', 'Initiator']",
 "['Support', 'Pusher', 'Disabler', 'Nuker', 'Initiator']",
 "['Carry', 'Durable', 'Initiator', 'Disabler', 'Escape']",
 "['Initiator', 'Durable', 'Disabler', 'Nuker']",
 "['Support', 'Nuker', 'Disabler']",
 "['Support', 'Nuker']",
 "['Carry', 'Escape', 'Disabler']",
 "['Disabler', 'Jungler', 'Initiator', 'Pusher']",
 "['Carry', 'Nuker', 'Pusher']",
 "['Carry', 'Nuker']",
 "['Carry', 'Nuker', 'Durable', 'Disabler']",
 "['Support', 'Initiator', 'Disabler']",
 "['Initiator', 'Disabler', 'Durable', 'Nuker']",
 "['Carry', 'Nuker', 'Escape']",
 "['Support', 'Nuker', 'Initiator', 'Pusher', 'Disabler']",
 "['Carry', 'Initiator', 'Disabler', 'Escape', 'Durable']",
 "['Carry', 'Support', 'Durable', 'Disabler', 'Initiator']",
 "['Carry', 'Pusher', 'Nuker', 'Disabler']",
 "['Carry', 'Escape']",
 "['Nuker', 'Pusher']",
 "['Carry', 'Escape']",
 "['Carry', 'Durable', 'Initiator', 'Disabler']",
 "['Carry', 'Nuker', 'Pusher']",
 "['Carry', 'Pusher', 'Durable', 'Disabler', 'Initiator', 'Nuker']",
 "['Support', 'Nuker', 'Disabler']",
 "['Initiator', 'Disabler', 'Durable', 'Nuker']",
 "['Carry', 'Support', 'Nuker', 'Pusher', 'Disabler']",
 "['Carry', 'Jungler', 'Pusher', 'Escape', 'Nuker']",
 "['Carry', 'Durable', 'Jungler', 'Escape', 'Disabler']",
 "['Initiator', 'Jungler', 'Escape', 'Disabler']",
 "['Carry', 'Escape', 'Pusher']",
 "['Support', 'Durable', 'Nuker']",
 "['Support', 'Jungler', 'Pusher', 'Durable', 'Disabler']",
 "['Carry', 'Durable', 'Initiator']",
 "['Carry', 'Initiator', 'Durable', 'Disabler', 'Nuker']",
 "['Carry', 'Pusher', 'Escape', 'Nuker']",
 "['Escape', 'Nuker']",
 "['Carry', 'Escape']",
 "['Support', 'Nuker', 'Pusher', 'Disabler']",
 "['Initiator', 'Jungler', 'Disabler', 'Escape']",
 "['Support', 'Jungler', 'Pusher']",
 "['Carry', 'Durable', 'Escape']",
 "['Support', 'Disabler', 'Nuker']",
 "['Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']",
 "['Carry', 'Jungler', 'Durable', 'Disabler']",
 "['Carry', 'Initiator', 'Disabler', 'Durable', 'Escape']",
 "['Carry', 'Nuker', 'Disabler']",
 "['Carry', 'Support', 'Durable', 'Disabler', 'Initiator', 'Nuker']",
 "['Carry', 'Nuker', 'Disabler', 'Escape', 'Pusher']",
 "['Carry', 'Support', 'Disabler', 'Initiator', 'Nuker']",
 "['Carry', 'Nuker', 'Disabler']",
 "['Carry', 'Pusher', 'Jungler', 'Durable', 'Escape']",
 "['Carry', 'Initiator', 'Durable', 'Disabler', 'Nuker']",
 "['Support', 'Disabler', 'Initiator', 'Nuker']",
 "['Carry', 'Pusher', 'Jungler', 'Durable']",
 "['Carry', 'Disabler', 'Durable', 'Pusher', 'Initiator']",
 "['Carry', 'Escape', 'Nuker', 'Disabler', 'Initiator', 'Pusher']",
 "['Support', 'Initiator', 'Durable', 'Disabler', 'Escape']",
 "['Support', 'Nuker', 'Disabler', 'Durable', 'Initiator']",
 "['Support', 'Durable', 'Disabler', 'Nuker']",
 "['Support', 'Disabler', 'Nuker']",
 "['Support', 'Disabler', 'Nuker', 'Initiator']",
 "['Disabler', 'Nuker', 'Initiator', 'Escape']",
 "['Carry', 'Support', 'Pusher', 'Disabler', 'Initiator', 'Escape']",
 "['Support', 'Nuker', 'Disabler', 'Jungler']",
 "['Support', 'Escape', 'Nuker']",
 "['Support', 'Nuker', 'Durable', 'Disabler', 'Pusher']",
 "['Carry', 'Escape', 'Disabler', 'Nuker']",
 "['Carry', 'Disabler', 'Durable']",
 "['Carry', 'Pusher', 'Disabler', 'Durable']",
 "['Durable', 'Initiator', 'Disabler', 'Nuker', 'Escape']",
 "['Initiator', 'Disabler', 'Nuker', 'Escape']",
 "['Nuker', 'Durable', 'Escape']",
 "['Carry', 'Durable', 'Initiator', 'Nuker']",
 "['Initiator', 'Disabler', 'Nuker']",
 "['Support', 'Nuker', 'Disabler']",
 "['Support', 'Carry', 'Durable']",
 "['Initiator', 'Disabler', 'Nuker', 'Durable']",
 "['Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']",
 "['Nuker', 'Disabler']",
 "['Carry', 'Escape', 'Nuker', 'Disabler', 'Initiator']",
 "['Nuker', 'Escape', 'Disabler', 'Initiator', 'Durable']",
 "['Support', 'Nuker', 'Disabler', 'Durable', 'Escape']",
 "['Carry', 'Pusher', 'Nuker']",
 "['Support', 'Nuker', 'Initiator', 'Escape', 'Disabler']",
 "['Support', 'Nuker', 'Disabler', 'Escape']",
 "['Support', 'Disabler', 'Nuker']",
 "['Carry', 'Escape', 'Nuker']",
 "['Carry', 'Escape', 'Disabler', 'Initiator']",
 "['Initiator', 'Disabler', 'Nuker', 'Durable']",
 "['Carry', 'Escape', 'Nuker']",
 "['Carry', 'Pusher', 'Nuker']",
 "['Nuker', 'Durable', 'Escape']",
 "['Support', 'Nuker', 'Disabler', 'Escape']",
 "['Carry', 'Nuker', 'Disabler', 'Durable', 'Escape', 'Initiator']"]

In [36]:
ability

["['Carry', 'Escape', 'Nuker']",
 "['Initiator', 'Durable', 'Disabler', 'Jungler']",
 "['Support', 'Disabler', 'Nuker', 'Durable']",
 "['Carry', 'Disabler', 'Jungler', 'Nuker', 'Initiator']",
 "['Support', 'Disabler', 'Nuker', 'Jungler']",
 "['Carry', 'Disabler', 'Pusher']",
 "['Support', 'Initiator', 'Disabler', 'Nuker']",
 "['Carry', 'Pusher', 'Escape']",
 "['Carry', 'Support', 'Escape', 'Nuker', 'Disabler']",
 "['Carry', 'Escape', 'Durable', 'Nuker', 'Disabler']",
 "['Carry', 'Nuker']",
 "['Carry', 'Escape', 'Pusher', 'Nuker']",
 "['Initiator', 'Disabler', 'Escape', 'Nuker']",
 "['Disabler', 'Initiator', 'Durable', 'Nuker']",
 "['Carry', 'Durable', 'Nuker', 'Pusher']",
 "['Initiator', 'Disabler', 'Nuker', 'Escape', 'Jungler']",
 "['Carry', 'Escape', 'Nuker', 'Initiator', 'Disabler']",
 "['Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']",
 "['Carry', 'Nuker', 'Pusher', 'Initiator', 'Durable', 'Disabler']",
 "['Support', 'Initiator', 'Disabler', 'Nuker', 'Escape']",
 "['Carry', 'Support', 'Disabler', 'Escape', 'Nuker']",
 "['Nuker']",
 "['Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']",
 "['Carry', 'Nuker']",
 "['Support', 'Carry', 'Nuker', 'Disabler']",
 "['Support', 'Disabler', 'Nuker', 'Initiator']",
 "['Support', 'Pusher', 'Disabler', 'Nuker', 'Initiator']",
 "['Carry', 'Durable', 'Initiator', 'Disabler', 'Escape']",
 "['Initiator', 'Durable', 'Disabler', 'Nuker']",
 "['Support', 'Nuker', 'Disabler']",
 "['Support', 'Nuker']",
 "['Carry', 'Escape', 'Disabler']",
 "['Disabler', 'Jungler', 'Initiator', 'Pusher']",
 "['Carry', 'Nuker', 'Pusher']",
 "['Carry', 'Nuker']",
 "['Carry', 'Nuker', 'Durable', 'Disabler']",
 "['Support', 'Initiator', 'Disabler']",
 "['Initiator', 'Disabler', 'Durable', 'Nuker']",
 "['Carry', 'Nuker', 'Escape']",
 "['Support', 'Nuker', 'Initiator', 'Pusher', 'Disabler']",
 "['Carry', 'Initiator', 'Disabler', 'Escape', 'Durable']",
 "['Carry', 'Support', 'Durable', 'Disabler', 'Initiator']",
 "['Carry', 'Pusher', 'Nuker', 'Disabler']",
 "['Carry', 'Escape']",
 "['Nuker', 'Pusher']",
 "['Carry', 'Escape']",
 "['Carry', 'Durable', 'Initiator', 'Disabler']",
 "['Carry', 'Nuker', 'Pusher']",
 "['Carry', 'Pusher', 'Durable', 'Disabler', 'Initiator', 'Nuker']",
 "['Support', 'Nuker', 'Disabler']",
 "['Initiator', 'Disabler', 'Durable', 'Nuker']",
 "['Carry', 'Support', 'Nuker', 'Pusher', 'Disabler']",
 "['Carry', 'Jungler', 'Pusher', 'Escape', 'Nuker']",
 "['Carry', 'Durable', 'Jungler', 'Escape', 'Disabler']",
 "['Initiator', 'Jungler', 'Escape', 'Disabler']",
 "['Carry', 'Escape', 'Pusher']",
 "['Support', 'Durable', 'Nuker']",
 "['Support', 'Jungler', 'Pusher', 'Durable', 'Disabler']",
 "['Carry', 'Durable', 'Initiator']",
 "['Carry', 'Initiator', 'Durable', 'Disabler', 'Nuker']",
 "['Carry', 'Pusher', 'Escape', 'Nuker']",
 "['Escape', 'Nuker']",
 "['Carry', 'Escape']",
 "['Support', 'Nuker', 'Pusher', 'Disabler']",
 "['Initiator', 'Jungler', 'Disabler', 'Escape']",
 "['Support', 'Jungler', 'Pusher']",
 "['Carry', 'Durable', 'Escape']",
 "['Support', 'Disabler', 'Nuker']",
 "['Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']",
 "['Carry', 'Jungler', 'Durable', 'Disabler']",
 "['Carry', 'Initiator', 'Disabler', 'Durable', 'Escape']",
 "['Carry', 'Nuker', 'Disabler']",
 "['Carry', 'Support', 'Durable', 'Disabler', 'Initiator', 'Nuker']",
 "['Carry', 'Nuker', 'Disabler', 'Escape', 'Pusher']",
 "['Carry', 'Support', 'Disabler', 'Initiator', 'Nuker']",
 "['Carry', 'Nuker', 'Disabler']",
 "['Carry', 'Pusher', 'Jungler', 'Durable', 'Escape']",
 "['Carry', 'Initiator', 'Durable', 'Disabler', 'Nuker']",
 "['Support', 'Disabler', 'Initiator', 'Nuker']",
 "['Carry', 'Pusher', 'Jungler', 'Durable']",
 "['Carry', 'Disabler', 'Durable', 'Pusher', 'Initiator']",
 "['Carry', 'Escape', 'Nuker', 'Disabler', 'Initiator', 'Pusher']",
 "['Support', 'Initiator', 'Durable', 'Disabler', 'Escape']",
 "['Support', 'Nuker', 'Disabler', 'Durable', 'Initiator']",
 "['Support', 'Durable', 'Disabler', 'Nuker']",
 "['Support', 'Disabler', 'Nuker']",
 "['Support', 'Disabler', 'Nuker', 'Initiator']",
 "['Disabler', 'Nuker', 'Initiator', 'Escape']",
 "['Carry', 'Support', 'Pusher', 'Disabler', 'Initiator', 'Escape']",
 "['Support', 'Nuker', 'Disabler', 'Jungler']",
 "['Support', 'Escape', 'Nuker']",
 "['Support', 'Nuker', 'Durable', 'Disabler', 'Pusher']",
 "['Carry', 'Escape', 'Disabler', 'Nuker']",
 "['Carry', 'Disabler', 'Durable']",
 "['Carry', 'Pusher', 'Disabler', 'Durable']",
 "['Durable', 'Initiator', 'Disabler', 'Nuker', 'Escape']",
 "['Initiator', 'Disabler', 'Nuker', 'Escape']",
 "['Nuker', 'Durable', 'Escape']",
 "['Carry', 'Durable', 'Initiator', 'Nuker']",
 "['Initiator', 'Disabler', 'Nuker']",
 "['Support', 'Nuker', 'Disabler']",
 "['Support', 'Carry', 'Durable']",
 "['Initiator', 'Disabler', 'Nuker', 'Durable']",
 "['Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']",
 "['Nuker', 'Disabler']",
 "['Carry', 'Escape', 'Nuker', 'Disabler', 'Initiator']",
 "['Nuker', 'Escape', 'Disabler', 'Initiator', 'Durable']",
 "['Support', 'Nuker', 'Disabler', 'Durable', 'Escape']",
 "['Carry', 'Pusher', 'Nuker']",
 "['Support', 'Nuker', 'Initiator', 'Escape', 'Disabler']",
 "['Support', 'Nuker', 'Disabler', 'Escape']",
 "['Support', 'Disabler', 'Nuker']",
 "['Carry', 'Escape', 'Nuker']",
 "['Carry', 'Escape', 'Disabler', 'Initiator']",
 "['Initiator', 'Disabler', 'Nuker', 'Durable']",
 "['Carry', 'Escape', 'Nuker']",
 "['Carry', 'Pusher', 'Nuker']",
 "['Nuker', 'Durable', 'Escape']",
 "['Support', 'Nuker', 'Disabler', 'Escape']",
 "['Carry', 'Nuker', 'Disabler', 'Durable', 'Escape', 'Initiator']"]

In [19]:
import json
try:
    import urllib.request as urllib2
except ImportError:
    import urllib2
# open the url and the screen name 
# (The screen name is the screen name of the user for whom to return results for)
url = "https://api.opendota.com/api/heroes"
# this takes a python object and dumps it to a string which is a JSON
# representation of that object
data = json.load(urllib2.urlopen(url))
# print the result
# print (data)
data[34]

{'attack_type': 'Ranged',
 'id': 36,
 'legs': 2,
 'localized_name': 'Necrophos',
 'name': 'npc_dota_hero_necrolyte',
 'primary_attr': 'int',
 'roles': ['Carry', 'Nuker', 'Durable', 'Disabler']}

In [20]:
pd_hero = pd.DataFrame(data)

In [21]:
pd_hero = pd_hero.drop(['legs', 'name', 'primary_attr'], axis = 1)

In [22]:
pd_hero = pd_hero[['id', 'localized_name', 'attack_type', 'roles']]

In [23]:
pd_hero.to_csv('output/hero.csv', encoding='utf-8', index=False, header=False)

# make items.csv

In [24]:
import numpy as np

In [25]:
df_item = pd.read_csv('Items.csv')

In [26]:
df_item

,Item,# Purchases,Fastest (secs),Slowest (secs),Mean (secs),Std Deviation,Winrate
0,Town Portal Scroll,28164,-38,4756,1118,636,47.24%
1,Observer Ward,10853,-88,4626,1192,759,49.89%
2,Sentry Ward,10662,-87,4541,1395,679,47.65%
3,Observer and Sentry Wards,10357,-88,4626,1405,692,48.77%
4,Clarity,6642,-89,4644,808,630,53.70%
5,Iron Branch,4866,-89,3704,609,514,50.78%
6,Smoke of Deceit,3629,-89,4399,1120,697,49.46%
7,Boots of Speed,3468,-89,4470,349,559,51.07%
8,Magic Stick,3026,-88,3225,375,299,50.46%
9,Magic Wand,2662,-88,3225,517,362,50.45%
10,Enchanted Mango,2426,-89,4047,559,473,50.95%
11,Circlet,2130,-89,4501,646,559,54.08%
12,Sage's Mask,2102,-76,3765,852,657,53.66%
13,Infused Raindrops,2100,180,3128,584,364,49.62%
14,Tome of Knowledge,2042,600,4398,1399,700,50.34%
15,Ring of Health,2031,165,4363,1514,688,57.21%
16,Wind Lace,1951,-85,3668,820,564,52.64%
17,Staff of Wizardry,1950,325,4596,1482,581,54.92%
18,Ring of Regen,1938,-81,3704,847,577,54.54%
19,Healing Salve,1903,-89,3888,527,874,46.35%
20,Ogre Axe,1792,434,4741,1532,586,53.96%
21,Gloves of Haste,1702,103,4068,725,516,50.06%
22,Blades of Attack,1627,66,3858,568,538,50.28%
23,Ring of Protection,1386,-86,3693,601,481,53.61%
24,Void Stone,1370,298,4364,1612,745,57.45%
25,Mithril Hammer,1350,414,4741,1592,562,54.44%
26,Belt of Strength,1314,98,4258,768,553,52.21%
27,Blink Dagger,1269,430,3427,1222,456,54.06%
28,Gauntlets of Strength,1244,-85,2806,555,387,54.34%
29,Band of Elvenskin,1154,46,3930,1078,430,52.60%
...,...,...,...,...,...,...,...
172,Heaven's Halberd,56,998,3083,1893,512,57.14%
173,Necronomicon,55,762,1833,1173,240,47.27%
174,Aeon Disk,54,1333,3950,2248,667,62.96%
175,Heart of Tarrasque,51,1141,3687,2154,556,78.43%
176,Recipe: Refresher Orb,50,1879,4364,2981,656,62.00%
177,Recipe: Bloodthorn,50,1714,3858,2614,537,70.00%
178,Refresher Orb,50,1915,4364,2993,647,62.00%
179,Bloodthorn,50,1755,3863,2629,536,70.00%
180,Rod of Atos,48,661,2629,1384,437,62.50%
181,Recipe: Abyssal Blade,48,1551,3362,2074,385,81.25%
182,Recipe: Rod of Atos,48,646,2624,1349,438,62.50%
183,Abyssal Blade,47,1608,3369,2112,374,82.98%
184,Dagon,46,1324,4503,2210,652,60.87%
185,Octarine Core,45,1191,3700,2266,600,77.78%
186,Boots of Travel,40,2262,4486,3149,586,65.00%
187,Moon Shard,40,1500,4168,2944,579,72.50%
188,Nullifier,40,1492,3695,2308,530,62.50%
189,Recipe: Crimson Guard,38,1146,3584,1891,485,65.79%
190,Satanic,36,1909,3396,2496,402,69.44%
191,Crimson Guard,35,1147,2949,1904,417,65.71%
192,Helm of the Dominator,32,419,2072,882,353,40.62%
193,Dagon,32,1397,4506,2136,596,56.25%
194,Recipe: Daedalus,28,1504,3613,2395,528,64.29%
195,Dagon,25,1492,4642,2304,596,60.00%
196,Meteor Hammer,25,652,2564,1476,525,84.00%
197,Daedalus,24,1538,3748,2448,556,62.50%
198,Dagon,22,1552,4753,2443,633,59.09%
199,Animal Courier,19,-88,-67,-83,5,42.11%
200,Divine Rapier,18,2033,4045,2975,686,16.67%
201,Ethereal Blade,17,1382,3274,2198,626,58.82%

In [27]:
price = np.array(df_item['Mean (secs)'].tolist(), dtype = int)
price = price - price % 100
price[price <= 0] = 50

In [28]:
len(price)

202

In [29]:
df_item['price'] = price * 2

In [30]:
df_item = df_item.drop(['# Purchases', 'Fastest (secs)', 'Slowest (secs)', 'Mean (secs)', 'Std Deviation', 'Winrate'], axis = 1)

In [31]:
df_item.index += 1
df_item.to_csv('output/item.csv', encoding='utf-8', index=True, header=False)

# make match.csv

In [32]:
import random
import time
random.seed(100)

In [33]:
Ti_league

{'2': ['LGDGAMING', 'InvictusGaming', 'NatusVincere', 'EHOME'],
 '3': ['Alliance',
  'NatusVincere',
  'Fnatic',
  'InvictusGaming',
  'LGDGAMING',
  'TeamLiquid',
  'Virtuspro'],
 '4': ['ViciGaming',
  'Newbee',
  'LGDGAMING',
  'TeamLiquid',
  'Virtuspro',
  'InvictusGaming',
  'Cloud9',
  'CDECGaming',
  'NatusVincere',
  'Alliance',
  'Fnatic',
  'TeamEmpire'],
 '5': ['LGDGAMING',
  'CDECGaming',
  'EHOME',
  'TeamSecret',
  'ViciGaming',
  'Virtuspro',
  'NatusVincere',
  'TeamEmpire',
  'Newbee',
  'InvictusGaming',
  'Cloud9',
  'Alliance',
  'Fnatic'],
 '6': ['EHOME',
  'Fnatic',
  'OG',
  'Alliance',
  'ViciGaming',
  'TeamSecret',
  'Newbee',
  'InvictusGaming',
  'TeamEmpire',
  'Virtuspro',
  'TeamLiquid',
  'NatusVincere',
  'LGDGAMING',
  'CDECGaming'],
 '7': ['TeamLiquid',
  'LGDForeverYoung',
  'LGDGAMING',
  'Newbee',
  'TeamEmpire',
  'TeamSecret',
  'OG',
  'Virtuspro',
  'NatusVincere',
  'InvictusGaming',
  'CDECGaming',
  'EHOME',
  'Fnatic',
  'ViciGaming',
  'Cloud9',
  'Alliance']}

In [34]:
for key in Ti_league:
    print(key + " " +str(len(Ti_league[key])))

2 4
3 7
4 12
5 13
6 14
7 16

In [35]:
a21 = (2011,8,1,0,0,0,0,0,0)
a22 = (2012,7,6,23,59,59,0,0,0)
a31 = (2012,8,1,0,0,0,0,0,0)
a32 = (2013,7,6,23,59,59,0,0,0)
a41 = (2013,8,1,0,0,0,0,0,0)
a42 = (2014,7,6,23,59,59,0,0,0)
a51 = (2014,8,1,0,0,0,0,0,0)
a52 = (2015,7,6,23,59,59,0,0,0)
a61 = (2015,8,1,0,0,0,0,0,0)
a62 = (2016,7,6,23,59,59,0,0,0)
a71 = (2016,8,1,0,0,0,0,0,0)
a72 = (2017,7,6,23,59,59,0,0,0)
A1 = [a21, a31, a41, a51, a61, a71]
A2 = [a22, a32, a42, a52, a62, a72]

In [36]:
date = []
tm = []
Match = []
league = []

In [37]:
match_count = [0, 0, 18, 81, 213, 369, 551, 791]

In [38]:
for i in range(2, 8):
    start=time.mktime(A1[i - 2])
    end=time.mktime(A2[i - 2])
    for j in range(match_count[i - 1] + 1, match_count[i] + 1):
        t=random.randint(start, end)
        date_touple=time.localtime(t)
        date.append(time.strftime("%Y-%m-%d",date_touple))
        tm.append(time.strftime("%H:%M:%S", date_touple))
        Match.append(j)
        league.append(i)

In [39]:
len(Match)

791

In [40]:
df_match = pd.DataFrame({'Match' : Match,
                         'league' : league,
                         'date': date,
                         'tm' : tm
                        })

In [41]:
df_match.to_csv('output/match_host.csv', encoding='utf-8', index = False, header=False)

# make team_compose.csv

In [42]:
random.seed(100)

In [43]:
tc_compose = []
tc_radiant = []
tc_fb = []
tc_win = []
tc_tower = []
for i in Match:
    fb_rd = random.randint(0, 1)
    win_rd = random.randint(0, 1)
    tc_compose.append(i)
    tc_radiant.append(0)
    tc_fb.append(fb_rd)
    tc_win.append(win_rd)
    tc_tower.append(random.randint(0, 11))
    
    tc_compose.append(i)
    tc_radiant.append(1)
    tc_fb.append(fb_rd ^ 1)
    tc_win.append(win_rd ^ 1)
    tc_tower.append(random.randint(0, 11))

In [44]:
df_tc = pd.DataFrame({'tc_compose' : tc_compose,
                         'tc_radiant' : tc_radiant,
                         'tc_fb': tc_fb,
                         'tc_win' : tc_win,
                          'tc_tower' : tc_tower
                        })

In [45]:
df_tc = df_tc[['tc_compose', 'tc_radiant', 'tc_fb', 'tc_win', 'tc_tower']]

In [46]:
df_tc

      tc_compose  tc_radiant  tc_fb  tc_win  tc_tower
0              1           0      0       1         7
1              1           1      1       0         2
2              2           0      1       1         6
3              2           1      0       0         8
4              3           0      0       0         1
5              3           1      1       1        11
6              4           0      1       1         0
7              4           1      0       0        10
8              5           0      0       1         3
9              5           1      1       0         4
10             6           0      0       0         2
11             6           1      1       1         3
12             7           0      1       1        10
13             7           1      0       0         6
14             8           0      0       1         7
15             8           1      1       0         8
16             9           0      1       1         2
17             9           1      0       0        10
18            10           0      0       0         0
19            10           1      1       1         9
20            11           0      1       0         9
21            11           1      0       1         2
22            12           0      0       0         0
23            12           1      1       1        10
24            13           0      0       1        10
25            13           1      1       0         6
26            14           0      0       0         9
27            14           1      1       1         3
28            15           0      1       1         8
29            15           1      0       0        10
...          ...         ...    ...     ...       ...
1552         777           0      1       0        10
1553         777           1      0       1         3
1554         778           0      1       0         4
1555         778           1      0       1        11
1556         779           0      1       0         5
1557         779           1      0       1         9
1558         780           0      0       1         0
1559         780           1      1       0         0
1560         781           0      0       1         9
1561         781           1      1       0         7
1562         782           0      0       0         2
1563         782           1      1       1         6
1564         783           0      0       1         0
1565         783           1      1       0        10
1566         784           0      0       0        11
1567         784           1      1       1         3
1568         785           0      0       1         3
1569         785           1      1       0         1
1570         786           0      0       0         4
1571         786           1      1       1         8
1572         787           0      1       1         6
1573         787           1      0       0         8
1574         788           0      1       1         7
1575         788           1      0       0         7
1576         789           0      0       1         4
1577         789           1      1       0         9
1578         790           0      0       0         7
1579         790           1      1       1         2
1580         791           0      0       1         3
1581         791           1      1       0         6

[1582 rows x 5 columns]

In [47]:
df_tc.to_csv('output/team_compose.csv', encoding='utf-8', index = False, header=False)

# make Play_In

In [119]:
random.seed(100)

In [120]:
Ti_league

{'2': ['LGDGAMING', 'InvictusGaming', 'NatusVincere', 'EHOME'],
 '3': ['Alliance',
  'NatusVincere',
  'Fnatic',
  'InvictusGaming',
  'LGDGAMING',
  'TeamLiquid',
  'Virtuspro'],
 '4': ['ViciGaming',
  'Newbee',
  'LGDGAMING',
  'TeamLiquid',
  'Virtuspro',
  'InvictusGaming',
  'Cloud9',
  'CDECGaming',
  'NatusVincere',
  'Alliance',
  'Fnatic',
  'TeamEmpire'],
 '5': ['LGDGAMING',
  'CDECGaming',
  'EHOME',
  'TeamSecret',
  'ViciGaming',
  'Virtuspro',
  'NatusVincere',
  'TeamEmpire',
  'Newbee',
  'InvictusGaming',
  'Cloud9',
  'Alliance',
  'Fnatic'],
 '6': ['EHOME',
  'Fnatic',
  'OG',
  'Alliance',
  'ViciGaming',
  'TeamSecret',
  'Newbee',
  'InvictusGaming',
  'TeamEmpire',
  'Virtuspro',
  'TeamLiquid',
  'NatusVincere',
  'LGDGAMING',
  'CDECGaming'],
 '7': ['TeamLiquid',
  'LGDForeverYoung',
  'LGDGAMING',
  'Newbee',
  'TeamEmpire',
  'TeamSecret',
  'OG',
  'Virtuspro',
  'NatusVincere',
  'InvictusGaming',
  'CDECGaming',
  'EHOME',
  'Fnatic',
  'ViciGaming',
  'Cloud9',
  'Alliance']}

In [121]:
a = Ti_league['2']
a
# len(Ti_league[str(league_number)])

['LGDGAMING', 'InvictusGaming', 'NatusVincere', 'EHOME']

In [122]:
pi_compose = []
pi_radiant = []
pi_team = []
for i in Match:
    league_number = 0;
    if (i >= 1 and i <=18):
        league_number = 2
    elif i <= 81:
        league_number = 3
    elif i <= 213:
        league_number = 4
    elif i <= 369:
        league_number = 5
    elif i <= 551:
        league_number = 6
    elif i <= 791:
        league_number = 7
    length = len(Ti_league[str(league_number)])
    rd1 = 0
    rd2 = 0
    while rd1 == rd2:
        rd1 = random.randint(0, length - 1)
        rd2 = random.randint(0, length - 1)
    pi_compose.append(i)
    pi_radiant.append(0)
    pi_team.append(new_team.index(Ti_league[str(league_number)][rd1]) + 1)
    
    pi_compose.append(i)
    pi_radiant.append(1)
    pi_team.append(new_team.index(Ti_league[str(league_number)][rd2]) + 1)

In [123]:
df_Play_In = pd.DataFrame({'pi_compose' : pi_compose,
                           'pi_radiant' : pi_radiant,
                           'pi_team' : pi_team
                            })

In [124]:
df_Play_In

      pi_compose  pi_radiant  pi_team
0              1           0       10
1              1           1       12
2              2           0       12
3              2           1       10
4              3           0       12
5              3           1        9
6              4           0       12
7              4           1        3
8              5           0       12
9              5           1        9
10             6           0        3
11             6           1       10
12             7           0        9
13             7           1       10
14             8           0        9
15             8           1       10
16             9           0       10
17             9           1        9
18            10           0        9
19            10           1       12
20            11           0       10
21            11           1       12
22            12           0       12
23            12           1        9
24            13           0       12
25            13           1       10
26            14           0        3
27            14           1       10
28            15           0        3
29            15           1       12
...          ...         ...      ...
1552         777           0       16
1553         777           1        8
1554         778           0        4
1555         778           1        1
1556         779           0       15
1557         779           1       10
1558         780           0        2
1559         780           1       13
1560         781           0       11
1561         781           1        3
1562         782           0        6
1563         782           1        8
1564         783           0       14
1565         783           1       16
1566         784           0       12
1567         784           1        8
1568         785           0        4
1569         785           1       14
1570         786           0       12
1571         786           1       15
1572         787           0        2
1573         787           1       13
1574         788           0        4
1575         788           1       11
1576         789           0        7
1577         789           1       11
1578         790           0       16
1579         790           1        2
1580         791           0       11
1581         791           1        9

[1582 rows x 3 columns]

In [125]:
df_Play_In.to_csv('output/play_in.csv', encoding='utf-8', index = False, header=False)

# make Hero_belong_to

In [43]:
belong_to = pd.read_csv('output/belong_to.csv', header = None)

In [73]:
belong_to.tail()

       0   1    2     3   4   5   6    7    8   9    10
7905  791   1  120  1109  13  11  10  125  617  12  963
7906  791   1   56  1351   6   1   1  115  702  22  951
7907  791   1   37    70  25  23   4  121  871  11  218
7908  791   1   73   882  20  15   1  166  730  37  677
7909  791   1   53   174  12  23   3   37  177  25  349

In [58]:
pfm = belong_to[[3, 4, 5, 6, 7, 8, 9, 10]]

In [59]:
pfm

        3   4   5   6    7     8   9     10
0      225  17   3   3  188  1083  16   248
1     1349  29  20   7   85   620  19   567
2      365   4   6  12   94   989  13   975
3      944  17   8  13   41   404  11   161
4     1234  12   4  25  144   482  12   492
5       53  29  21   8  114   943   8   257
6     1247   7  22  20  198  1188  45   743
7     1412  18  10  17  174   853  34   893
8      990  12  24   2   25   764  41  1039
9      517   7  27  23  182  1045  49  1160
10     563  22  22   4  183   253  50   598
11     634  16  19   7  166   881  21  1083
12      25  22   3  16   49   393  46   578
13      89  12  23   4  102   460  39  1126
14    1116   1  22  15   41   251  30   246
15     405  29   7   6   24   229   8   583
16    1313   2   3   9   17   973   2  1023
17     971  14  10  23  116   547  38   664
18     855   4  26   7  105   308  38   700
19     820  27   8  23   24   540  14   246
20     603   7  12   1  167   313  14   760
21    1319  20  23  21    5   327  37   872
22     663  21  28  15    8   527   5   196
23    1419  19  27  12  141   444  10   156
24    1397  23   0  23   81  1189  25   507
25     779  12  23  15   50   585  10   704
26     149  20  14  21  191   428  27  1183
27     227  20   9   5   28   606   3   955
28     938  13  22  12   22   292   2  1054
29     852   0  18   5  123   367  44   331
...    ...  ..  ..  ..  ...   ...  ..   ...
7880   320  17  14  21  155   352  31   747
7881   636  13   8   8   20   497  36   179
7882   581  14  21   9  134   769  34   373
7883  1275  22   4   2  108   656   9   319
7884   369   4   6   8   86   251  12  1125
7885   235  12  29   4  145   885  13   413
7886  1408  29  25  21   26   848  12   163
7887   488  30  30  14   52   414  12   949
7888   952   4   8  15   48   396  21   946
7889   710   7   9  19  182  1031  19  1042
7890   740  13  29  20   23  1114  26  1022
7891   591   6  10  24  144   959  39   438
7892   798  18  27   9  145   957  22  1064
7893   357  13  23   5   89   999  11   195
7894  1355   6  16  19   54   625  48   951
7895   965  10  13  12  190  1111  35  1081
7896   840  26  11  25  169   533   0   374
7897   484   3  17  14   63   950  30  1197
7898   956  28   7   9    9   244  30   237
7899   392  21  28   5  111   235   0   153
7900   702  21  29  25   86   528  11   393
7901   883   1  16  16  106   188   7   806
7902   181  29  15  13  181   660  21   508
7903   161  29  28  24  121   183  10  1056
7904   958  30  11   5   65   767  41  1002
7905  1109  13  11  10  125   617  12   963
7906  1351   6   1   1  115   702  22   951
7907    70  25  23   4  121   871  11   218
7908   882  20  15   1  166   730  37   677
7909   174  12  23   3   37   177  25   349

[7910 rows x 8 columns]

In [66]:
pfm_vec = []
for index, row in pfm.iterrows():
#     print (str(row[3]) + ' ' +  str(row[4]))
#       print (row)
    pfm_vec.append('(' + str(row[3]) + ',' + str(row[4]) + ',' + str(row[5]) + ',' + str(row[6]) + ',' + str(row[7]) + ',' + str(row[8]) + ',' + str(row[9]) + ',' + str(row[10]) + ')')

In [69]:
belong_to_f3 = belong_to[[0,1,2]]

In [87]:
belong_to_f3

        0  1    2                        perfmance
0       1  0   19     (225,17,3,3,188,1083,16,248)
1       1  0   59     (1349,29,20,7,85,620,19,567)
2       1  0   99       (365,4,6,12,94,989,13,975)
3       1  0   23      (944,17,8,13,41,404,11,161)
4       1  0   91    (1234,12,4,25,144,482,12,492)
5       1  1   51       (53,29,21,8,114,943,8,257)
6       1  1   94   (1247,7,22,20,198,1188,45,743)
7       1  1   45   (1412,18,10,17,174,853,34,893)
8       1  1   56     (990,12,24,2,25,764,41,1039)
9       1  1   65   (517,7,27,23,182,1045,49,1160)
10      2  0  116     (563,22,22,4,183,253,50,598)
11      2  0   75    (634,16,19,7,166,881,21,1083)
12      2  0   33       (25,22,3,16,49,393,46,578)
13      2  0   19     (89,12,23,4,102,460,39,1126)
14      2  0    8     (1116,1,22,15,41,251,30,246)
15      2  1   87        (405,29,7,6,24,229,8,583)
16      2  1  111       (1313,2,3,9,17,973,2,1023)
17      2  1   42    (971,14,10,23,116,547,38,664)
18      2  1   22      (855,4,26,7,105,308,38,700)
19      2  1    7      (820,27,8,23,24,540,14,246)
20      3  0   50      (603,7,12,1,167,313,14,760)
21      3  0   35     (1319,20,23,21,5,327,37,872)
22      3  0    1       (663,21,28,15,8,527,5,196)
23      3  0  102   (1419,19,27,12,141,444,10,156)
24      3  0   39    (1397,23,0,23,81,1189,25,507)
25      3  1    5     (779,12,23,15,50,585,10,704)
26      3  1  120   (149,20,14,21,191,428,27,1183)
27      3  1    4        (227,20,9,5,28,606,3,955)
28      3  1  106     (938,13,22,12,22,292,2,1054)
29      3  1   72      (852,0,18,5,123,367,44,331)
...   ... ..  ...                              ...
7880  789  0   25    (320,17,14,21,155,352,31,747)
7881  789  0   40       (636,13,8,8,20,497,36,179)
7882  789  0   78     (581,14,21,9,134,769,34,373)
7883  789  0  105      (1275,22,4,2,108,656,9,319)
7884  789  0   76       (369,4,6,8,86,251,12,1125)
7885  789  1   11     (235,12,29,4,145,885,13,413)
7886  789  1   54    (1408,29,25,21,26,848,12,163)
7887  789  1    7     (488,30,30,14,52,414,12,949)
7888  789  1   96       (952,4,8,15,48,396,21,946)
7889  789  1  118    (710,7,9,19,182,1031,19,1042)
7890  790  0   66   (740,13,29,20,23,1114,26,1022)
7891  790  0  103     (591,6,10,24,144,959,39,438)
7892  790  0  112    (798,18,27,9,145,957,22,1064)
7893  790  0   40      (357,13,23,5,89,999,11,195)
7894  790  0   84     (1355,6,16,19,54,625,48,951)
7895  790  1   96  (965,10,13,12,190,1111,35,1081)
7896  790  1  120     (840,26,11,25,169,533,0,374)
7897  790  1  117     (484,3,17,14,63,950,30,1197)
7898  790  1   50        (956,28,7,9,9,244,30,237)
7899  790  1   88      (392,21,28,5,111,235,0,153)
7900  791  0   90     (702,21,29,25,86,528,11,393)
7901  791  0   16      (883,1,16,16,106,188,7,806)
7902  791  0  109    (181,29,15,13,181,660,21,508)
7903  791  0   61   (161,29,28,24,121,183,10,1056)
7904  791  0   75     (958,30,11,5,65,767,41,1002)
7905  791  1  120   (1109,13,11,10,125,617,12,963)
7906  791  1   56      (1351,6,1,1,115,702,22,951)
7907  791  1   37      (70,25,23,4,121,871,11,218)
7908  791  1   73     (882,20,15,1,166,730,37,677)
7909  791  1   53      (174,12,23,3,37,177,25,349)

[7910 rows x 4 columns]

In [70]:
belong_to_f3['perfmance'] = pfm_vec

/Users/yuwang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [74]:
belong_to_f3.to_csv('output/belong_to.csv', encoding='utf-8', index = False, header=False)

In [126]:
random.seed(100)

In [127]:
hbt_compose = []
hbt_radiant = []
hbt_hero = []
lasthit = []
death = []
kill = []
level = []
denies = []
gpm = []
assist = []
xpm = []
for i in Match:
    cd = random.sample(range(1, 121), 10)
    for j in range(10):
        rad = 0
        if j >= 5:
            rad = 1
        hbt_compose.append(i)
        hbt_radiant.append(rad)
        hbt_hero.append(cd[j])
        lasthit.append(random.randint(0, 1500))
        death.append(random.randint(0,30))
        kill.append(random.randint(0, 30))
        level.append(random.randint(1, 25))
        denies.append(random.randint(0, 200))
        gpm.append(random.randint(150, 1200))
        assist.append(random.randint(0, 50))
        xpm.append(random.randint(150, 1200))

In [128]:
df_belong_to = pd.DataFrame({'hbt_compose' : hbt_compose,
                             'hbt_radiant' : hbt_radiant,
                             'hbt_hero' : hbt_hero,
                             'lasthit': lasthit,
                             'death' : death,
                             'kill' : kill,
                             'level' : level,
                             'denies' : denies,
                             'gpm' : gpm,
                             'assist' : assist,
                             'xpm' : xpm
                            })

In [129]:
df_belong_to = df_belong_to[['hbt_compose', 'hbt_radiant', 'hbt_hero', 'lasthit', 'death', 'kill', 'level','denies',
                            'gpm', 'assist', 'xpm']]

In [130]:
df_belong_to

,hbt_compose,hbt_radiant,hbt_hero,lasthit,death,kill,level,denies,gpm,assist,xpm
0,1,0,19,225,17,3,3,188,1083,16,248
1,1,0,59,1349,29,20,7,85,620,19,567
2,1,0,99,365,4,6,12,94,989,13,975
3,1,0,23,944,17,8,13,41,404,11,161
4,1,0,91,1234,12,4,25,144,482,12,492
5,1,1,51,53,29,21,8,114,943,8,257
6,1,1,94,1247,7,22,20,198,1188,45,743
7,1,1,45,1412,18,10,17,174,853,34,893
8,1,1,56,990,12,24,2,25,764,41,1039
9,1,1,65,517,7,27,23,182,1045,49,1160
10,2,0,116,563,22,22,4,183,253,50,598
11,2,0,75,634,16,19,7,166,881,21,1083
12,2,0,33,25,22,3,16,49,393,46,578
13,2,0,19,89,12,23,4,102,460,39,1126
14,2,0,8,1116,1,22,15,41,251,30,246
15,2,1,87,405,29,7,6,24,229,8,583
16,2,1,111,1313,2,3,9,17,973,2,1023
17,2,1,42,971,14,10,23,116,547,38,664
18,2,1,22,855,4,26,7,105,308,38,700
19,2,1,7,820,27,8,23,24,540,14,246
20,3,0,50,603,7,12,1,167,313,14,760
21,3,0,35,1319,20,23,21,5,327,37,872
22,3,0,1,663,21,28,15,8,527,5,196
23,3,0,102,1419,19,27,12,141,444,10,156
24,3,0,39,1397,23,0,23,81,1189,25,507
25,3,1,5,779,12,23,15,50,585,10,704
26,3,1,120,149,20,14,21,191,428,27,1183
27,3,1,4,227,20,9,5,28,606,3,955
28,3,1,106,938,13,22,12,22,292,2,1054
29,3,1,72,852,0,18,5,123,367,44,331
...,...,...,...,...,...,...,...,...,...,...,...
7880,789,0,25,320,17,14,21,155,352,31,747
7881,789,0,40,636,13,8,8,20,497,36,179
7882,789,0,78,581,14,21,9,134,769,34,373
7883,789,0,105,1275,22,4,2,108,656,9,319
7884,789,0,76,369,4,6,8,86,251,12,1125
7885,789,1,11,235,12,29,4,145,885,13,413
7886,789,1,54,1408,29,25,21,26,848,12,163
7887,789,1,7,488,30,30,14,52,414,12,949
7888,789,1,96,952,4,8,15,48,396,21,946
7889,789,1,118,710,7,9,19,182,1031,19,1042
7890,790,0,66,740,13,29,20,23,1114,26,1022
7891,790,0,103,591,6,10,24,144,959,39,438
7892,790,0,112,798,18,27,9,145,957,22,1064
7893,790,0,40,357,13,23,5,89,999,11,195
7894,790,0,84,1355,6,16,19,54,625,48,951
7895,790,1,96,965,10,13,12,190,1111,35,1081
7896,790,1,120,840,26,11,25,169,533,0,374
7897,790,1,117,484,3,17,14,63,950,30,1197
7898,790,1,50,956,28,7,9,9,244,30,237
7899,790,1,88,392,21,28,5,111,235,0,153
7900,791,0,90,702,21,29,25,86,528,11,393
7901,791,0,16,883,1,16,16,106,188,7,806
7902,791,0,109,181,29,15,13,181,660,21,508
7903,791,0,61,161,29,28,24,121,183,10,1056
7904,791,0,75,958,30,11,5,65,767,41,1002
7905,791,1,120,1109,13,11,10,125,617,12,963
7906,791,1,56,1351,6,1,1,115,702,22,951
7907,791,1,37,70,25,23,4,121,871,11,218
7908,791,1,73,882,20,15,1,166,730,37,677
7909,791,1,53,174,12,23,3,37,177,25,349

In [131]:
df_belong_to.to_csv('output/belong_to.csv', encoding='utf-8', index = False, header=False)

# make Pick

In [132]:
df_Play_In

      pi_compose  pi_radiant  pi_team
0              1           0       10
1              1           1       12
2              2           0       12
3              2           1       10
4              3           0       12
5              3           1        9
6              4           0       12
7              4           1        3
8              5           0       12
9              5           1        9
10             6           0        3
11             6           1       10
12             7           0        9
13             7           1       10
14             8           0        9
15             8           1       10
16             9           0       10
17             9           1        9
18            10           0        9
19            10           1       12
20            11           0       10
21            11           1       12
22            12           0       12
23            12           1        9
24            13           0       12
25            13           1       10
26            14           0        3
27            14           1       10
28            15           0        3
29            15           1       12
...          ...         ...      ...
1552         777           0       16
1553         777           1        8
1554         778           0        4
1555         778           1        1
1556         779           0       15
1557         779           1       10
1558         780           0        2
1559         780           1       13
1560         781           0       11
1561         781           1        3
1562         782           0        6
1563         782           1        8
1564         783           0       14
1565         783           1       16
1566         784           0       12
1567         784           1        8
1568         785           0        4
1569         785           1       14
1570         786           0       12
1571         786           1       15
1572         787           0        2
1573         787           1       13
1574         788           0        4
1575         788           1       11
1576         789           0        7
1577         789           1       11
1578         790           0       16
1579         790           1        2
1580         791           0       11
1581         791           1        9

[1582 rows x 3 columns]

In [133]:
df_Play_In[(df_Play_In.pi_compose == 1) & (df_Play_In.pi_radiant == 0)]
# df_Play_In.loc[(df_Play_In['pi_compose'] == 1)]

   pi_compose  pi_radiant  pi_team
0           1           0       10

In [134]:
pick_compose = []
pick_hero = []
pick_player = []
for i in Match:
    team_num = df_Play_In[(df_Play_In.pi_compose == i) & (df_Play_In.pi_radiant == 0)].pi_team.tolist()[0]
    p_player = pd_consist_of[pd_consist_of.player_team_id == team_num].player_id.tolist()
    p_hero  = df_belong_to[(df_belong_to.hbt_compose == i) & (df_belong_to.hbt_radiant == 0)].hbt_hero.tolist()
    for j in range(5):
        pick_compose.append(i)
        pick_hero.append(p_hero[j])
        pick_player.append(p_player[j])
        
    team_num = df_Play_In[(df_Play_In.pi_compose == i) & (df_Play_In.pi_radiant == 1)].pi_team.tolist()[0]
    p_player = pd_consist_of[pd_consist_of.player_team_id == team_num].player_id.tolist()
    p_hero  = df_belong_to[(df_belong_to.hbt_compose == i) & (df_belong_to.hbt_radiant == 1)].hbt_hero.tolist()
    for j in range(5):
        pick_compose.append(i)
        pick_hero.append(p_hero[j])
        pick_player.append(p_player[j])

In [139]:
df_pick = pd.DataFrame({
                        'pick_player' : pick_player,
                        'pick_hero' : pick_hero,
                        'pick_compose' : pick_compose,
                        })

In [142]:
df_pick = df_pick[['pick_player', 'pick_hero', 'pick_compose']]

In [143]:
df_pick.to_csv('output/pick.csv', encoding='utf-8', index = False, header=False)

In [144]:
df_pick

      pick_player  pick_hero  pick_compose
0              46         19             1
1              47         59             1
2              48         99             1
3              49         23             1
4              50         91             1
5              56         51             1
6              57         94             1
7              58         45             1
8              59         56             1
9              60         65             1
10             56        116             2
11             57         75             2
12             58         33             2
13             59         19             2
14             60          8             2
15             46         87             2
16             47        111             2
17             48         42             2
18             49         22             2
19             50          7             2
20             56         50             3
21             57         35             3
22             58          1             3
23             59        102             3
24             60         39             3
25             41          5             3
26             42        120             3
27             43          4             3
28             44        106             3
29             45         72             3
...           ...        ...           ...
7880           31         25           789
7881           32         40           789
7882           33         78           789
7883           34        105           789
7884           35         76           789
7885           51         11           789
7886           52         54           789
7887           53          7           789
7888           54         96           789
7889           55        118           789
7890           76         66           790
7891           77        103           790
7892           78        112           790
7893           79         40           790
7894           80         84           790
7895            6         96           790
7896            7        120           790
7897            8        117           790
7898            9         50           790
7899           10         88           790
7900           51         90           791
7901           52         16           791
7902           53        109           791
7903           54         61           791
7904           55         75           791
7905           41        120           791
7906           42         56           791
7907           43         37           791
7908           44         73           791
7909           45         53           791

[7910 rows x 3 columns]

# make Own

In [159]:
random.seed(100)
a1=(2011,8,1,0,0,0,0,0,0)
a2=(2017,7,6,23,59,59,0,0,0)
start=time.mktime(a1)
end=time.mktime(a2)

In [160]:
df_belong_to

,hbt_compose,hbt_radiant,hbt_hero,lasthit,death,kill,level,denies,gpm,assist,xpm
0,1,0,19,225,17,3,3,188,1083,16,248
1,1,0,59,1349,29,20,7,85,620,19,567
2,1,0,99,365,4,6,12,94,989,13,975
3,1,0,23,944,17,8,13,41,404,11,161
4,1,0,91,1234,12,4,25,144,482,12,492
5,1,1,51,53,29,21,8,114,943,8,257
6,1,1,94,1247,7,22,20,198,1188,45,743
7,1,1,45,1412,18,10,17,174,853,34,893
8,1,1,56,990,12,24,2,25,764,41,1039
9,1,1,65,517,7,27,23,182,1045,49,1160
10,2,0,116,563,22,22,4,183,253,50,598
11,2,0,75,634,16,19,7,166,881,21,1083
12,2,0,33,25,22,3,16,49,393,46,578
13,2,0,19,89,12,23,4,102,460,39,1126
14,2,0,8,1116,1,22,15,41,251,30,246
15,2,1,87,405,29,7,6,24,229,8,583
16,2,1,111,1313,2,3,9,17,973,2,1023
17,2,1,42,971,14,10,23,116,547,38,664
18,2,1,22,855,4,26,7,105,308,38,700
19,2,1,7,820,27,8,23,24,540,14,246
20,3,0,50,603,7,12,1,167,313,14,760
21,3,0,35,1319,20,23,21,5,327,37,872
22,3,0,1,663,21,28,15,8,527,5,196
23,3,0,102,1419,19,27,12,141,444,10,156
24,3,0,39,1397,23,0,23,81,1189,25,507
25,3,1,5,779,12,23,15,50,585,10,704
26,3,1,120,149,20,14,21,191,428,27,1183
27,3,1,4,227,20,9,5,28,606,3,955
28,3,1,106,938,13,22,12,22,292,2,1054
29,3,1,72,852,0,18,5,123,367,44,331
...,...,...,...,...,...,...,...,...,...,...,...
7880,789,0,25,320,17,14,21,155,352,31,747
7881,789,0,40,636,13,8,8,20,497,36,179
7882,789,0,78,581,14,21,9,134,769,34,373
7883,789,0,105,1275,22,4,2,108,656,9,319
7884,789,0,76,369,4,6,8,86,251,12,1125
7885,789,1,11,235,12,29,4,145,885,13,413
7886,789,1,54,1408,29,25,21,26,848,12,163
7887,789,1,7,488,30,30,14,52,414,12,949
7888,789,1,96,952,4,8,15,48,396,21,946
7889,789,1,118,710,7,9,19,182,1031,19,1042
7890,790,0,66,740,13,29,20,23,1114,26,1022
7891,790,0,103,591,6,10,24,144,959,39,438
7892,790,0,112,798,18,27,9,145,957,22,1064
7893,790,0,40,357,13,23,5,89,999,11,195
7894,790,0,84,1355,6,16,19,54,625,48,951
7895,790,1,96,965,10,13,12,190,1111,35,1081
7896,790,1,120,840,26,11,25,169,533,0,374
7897,790,1,117,484,3,17,14,63,950,30,1197
7898,790,1,50,956,28,7,9,9,244,30,237
7899,790,1,88,392,21,28,5,111,235,0,153
7900,791,0,90,702,21,29,25,86,528,11,393
7901,791,0,16,883,1,16,16,106,188,7,806
7902,791,0,109,181,29,15,13,181,660,21,508
7903,791,0,61,161,29,28,24,121,183,10,1056
7904,791,0,75,958,30,11,5,65,767,41,1002
7905,791,1,120,1109,13,11,10,125,617,12,963
7906,791,1,56,1351,6,1,1,115,702,22,951
7907,791,1,37,70,25,23,4,121,871,11,218
7908,791,1,73,882,20,15,1,166,730,37,677
7909,791,1,53,174,12,23,3,37,177,25,349

In [161]:
own_compose = []
own_hero = []
own_item = []
bought_time = []
for i in Match:
    heros_list =  df_belong_to[df_belong_to.hbt_compose == i].hbt_hero.tolist()
    for j in heros_list:
        cd = random.sample(range(1, 202), 6)
        for k in cd:
            t=random.randint(start,end)
            date_touple=time.localtime(t)
            bought_time.append(time.strftime("%M:%S", date_touple))
            own_compose.append(i)
            own_hero.append(j)
            own_item.append(k)

In [162]:
df_own = pd.DataFrame({'own_item' : own_item,
                       'own_hero' : own_hero,
                       'bought_time' : bought_time,
                       'own_compose': own_compose,
                        })

In [163]:
df_own = df_own[['own_item', 'own_hero', 'bought_time', 'own_compose']]

In [167]:
df_own[0:120]

     own_item  own_hero bought_time  own_compose
0          38        19       42:46            1
1         118        19       16:15            1
2         117        19       10:45            1
3         198        19       35:43            1
4          45        19       57:46            1
5         181        19       00:35            1
6          32        59       52:48            1
7          21        59       07:20            1
8         189        59       32:36            1
9         117        59       33:58            1
10         68        59       03:45            1
11         13        59       58:41            1
12        197        99       50:04            1
13         53        99       55:35            1
14         46        99       55:32            1
15         37        99       55:19            1
16         49        99       51:18            1
17         89        99       46:29            1
18        143        23       03:56            1
19         71        23       02:52            1
20         97        23       55:41            1
21         42        23       12:15            1
22        167        23       49:27            1
23        164        23       11:18            1
24        199        91       37:31            1
25        145        91       46:57            1
26         42        91       39:13            1
27         50        91       48:00            1
28         43        91       04:27            1
29          7        91       06:51            1
..        ...       ...         ...          ...
90        154        87       09:13            2
91         69        87       49:59            2
92        103        87       39:00            2
93         67        87       56:01            2
94        182        87       34:56            2
95         25        87       26:58            2
96         70       111       31:00            2
97         78       111       07:53            2
98         10       111       17:56            2
99          7       111       17:53            2
100       143       111       02:14            2
101        76       111       46:33            2
102        77        42       11:05            2
103       165        42       32:55            2
104       186        42       09:47            2
105       161        42       31:54            2
106         6        42       39:24            2
107        23        42       48:39            2
108       187        22       25:29            2
109       198        22       43:36            2
110        48        22       05:06            2
111        22        22       20:21            2
112         6        22       33:23            2
113       178        22       34:38            2
114         1         7       34:27            2
115       175         7       17:23            2
116       189         7       47:25            2
117         4         7       35:15            2
118       181         7       22:04            2
119        82         7       51:22            2

[120 rows x 4 columns]

In [168]:
df_own.to_csv('output/own.csv', encoding='utf-8', index = False, header=False)

# VERIFY DATA

In [75]:
league = pd.read_csv('output/league.csv', header = None)

In [76]:
league.head()

   0         1
0  2   1600000
1  3   2874381
2  4  10000000
3  5  18000000
4  6  20735639

In [77]:
item = pd.read_csv('output/item.csv', header = None)

In [78]:
item.head()

   0                          1     2
0  1         Town Portal Scroll   100
1  2              Observer Ward    50
2  3                Sentry Ward    75
3  4  Observer and Sentry Wards  2800
4  5                    Clarity  1600

In [79]:
team_compose = pd.read_csv('output/team_compose.csv', header = None)

In [80]:
team_compose.head()

   0  1  2  3  4
0  1  0  0  1  7
1  1  1  1  0  2
2  2  0  1  1  6
3  2  1  0  0  8
4  3  0  0  0  1

In [81]:
Play_In = pd.read_csv('output/play_in.csv', header = None)

In [82]:
Play_In.head()

   0  1   2
0  1  0  10
1  1  1  12
2  2  0  12
3  2  1  10
4  3  0  12

In [83]:
pick =  pd.read_csv('output/pick.csv', header = None)

In [84]:
pick.head()

    0   1  2
0  46  19  1
1  47  59  1
2  48  99  1
3  49  23  1
4  50  91  1

In [85]:
own  = pd.read_csv('output/own.csv', header = None)

In [86]:
own.head()

     0   1  2
0   38  19  1
1  118  19  1
2  117  19  1
3  198  19  1
4   45  19  1

In [88]:
Participate = pd.read_csv('output/Participate.csv', header = None)

In [89]:
Participate.head()

   0  1   2
0  2  1   3
1  2  2  10
2  2  3   9
3  2  4  12
4  3  1  16

In [90]:
Match_Host = pd.read_csv('output/Match_Host.csv', header = None)

In [91]:
Match_Host.head()

   0           1  2         3
0  1  2011-09-26  2  14:44:09
1  2  2012-01-26  2  11:07:07
2  3  2012-01-24  2  16:13:37
3  4  2012-05-26  2  09:13:32
4  5  2011-10-07  2  21:45:53

In [92]:
Match_Host = Match_Host[[0,2,1,3]]

In [93]:
Match_Host.head()

   0  2           1         3
0  1  2  2011-09-26  14:44:09
1  2  2  2012-01-26  11:07:07
2  3  2  2012-01-24  16:13:37
3  4  2  2012-05-26  09:13:32
4  5  2  2011-10-07  21:45:53

In [94]:
Match_Host.to_csv('output/match_host.csv', encoding='utf-8', index = False, header=False)

In [95]:
Match_Host = pd.read_csv('output/Match_Host.csv', header = None)

In [96]:
Match_Host.head()

   0  1           2         3
0  1  2  2011-09-26  14:44:09
1  2  2  2012-01-26  11:07:07
2  3  2  2012-01-24  16:13:37
3  4  2  2012-05-26  09:13:32
4  5  2  2011-10-07  21:45:53